body {
    background-color: #EDF2F4;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #EF233C;
    text-decoration: none;
}

h1 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 64px;
    opacity: 0%;
    text-align: center;
    position: relative;
    animation-name: appear-slide;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

h2 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 40px;
}

h3 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 24px;
    text-align: center;
}

@keyframes appear-slide {
    0% {top: 50px; opacity: 0%;}
    100% {top: 0px; opacity: 100%;}
}

@keyframes appear-fade {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}

@keyframes fade-in-icon {
    0% {opacity: 0%;}
    100% {opacity: 100%;};
}

header {
    text-align: center;
}

header div {
    padding: 8px 0px;
}

section {
    text-align: center;
    opacity: 0%;
    animation-name: appear-fade;
    animation-delay: 1.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


p {
    font-size: 14px;
}

button {
    border-radius: 12px;
    color: #EDF2F4;
    font-weight: bold;
}

button:hover {
    transition: 0.3s;
}

.rps-buttons:hover {
    background-color: #EF233C;
}

.rps-buttons {
    border: solid #EF233C 3px;
    background-color: #D90429;
    height: 50px;
    width: 115px;
    font-size: 16px;
    transition: 0.3s;
}

.game-selection, .game-mode {
    background-color: #000000;
    text-transform: uppercase;
    border: solid 2px #2B2D42;
}

.game-selection {
    font-size: 11px;
    height: 30px;
    width: 108px;
}

.game-mode {
    font-size: 24px;
    height: 80px;
    width: 300px;
}

.game-selection:hover, .game-mode:hover {
    background-color: #2B2D42;
}

.dark-red {
    color: #D90429;
}

.dark-blue {
    color: #2B2D42;
}

.message-area {
    text-align: center;
}

#message {
    background-color: #2B2D42;
    color: #EDF2F4;
    display: inline-block;
    padding: 8px 12px;
    margin: 0;
    border-radius: 16px;
}

.game-area {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.frame {
    border: solid #2B2D42 4px;
    border-radius: 16px;
    width: 350px;
    height: 350px;
}

.computer-frame, .player-frame {
    transition: 0.1s;
}

.frame-highlight {
    background-color: royalblue;
    transition: 0.1s;
}

#computer div, #player div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0px 30px 0px;
}

.icon {
    filter: invert(30%) sepia(0%) saturate(1863%) hue-rotate(154deg) brightness(92%) contrast(85%);
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 25px 0px 20px 0px;
}

footer p {
    font-family: "Inter", "Arial", sans-serif;
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
}

.popup-game-selection {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1;
    border-radius: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    overflow: hidden;
    background-color: #EDF2F4;
}

.popup-game-selection-content {
    margin: auto;
    width: 800px;
}

.close {
    font-size: 28px;
    transition: 0.3s;
}

.close:hover {
    cursor: default;
    color: #2B2D42;
    transition: 0.3s;
}

.popup-game-selection-content > div:first-child {
    text-align: right;
}

.popup-game-selection-content > div:nth-child(2){
    text-align: center;
}

.popup-game-selection-content > div:nth-child(2) > div {
    display: flex;
    justify-content: center;
    gap: 20px;
}