body {
    background-color: #EDF2F4;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #EF233C;
    text-decoration: none;
}

a:hover {
    color: #D90429;
    cursor: pointer;
}

h1 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 64px;
    margin: 20px 0px;
    opacity: 0%;
    text-align: center;
    position: relative;
    animation-name: appear-slide;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

h2 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 40px;
    margin: 0;
}

#h2-game-over {
    color: #D90429;
    margin: 12px 0px;
}

h3 {
    font-family: "Bebas Neue", "Impact", "Arial", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 14px;
}

h4 {
    font-weight: 100;
    font-size: 12px;
}

@keyframes appear-slide {
    0% {top: 50px; opacity: 0%;}
    100% {top: 0px; opacity: 100%;}
}

@keyframes appear-fade {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}

@keyframes fade-in-icon {
    0% {opacity: 0%;}
    100% {opacity: 100%;};
}

header {
    text-align: center;
}

header div {
    padding: 8px 0px;
}

section {
    text-align: center;
    opacity: 0%;
    animation-name: appear-fade;
    animation-delay: 1.2s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

p {
    font-size: 14px;
    line-height: 24px;
}

button {
    border-radius: 12px;
    color: #EDF2F4;
    font-weight: bold;
}

button:hover {
    transition: 0.3s;
}

.rps-buttons:hover {
    background-color: #EF233C;
}

.rps-buttons {
    border: solid #EF233C 3px;
    background-color: #D90429;
    height: 50px;
    width: 115px;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 0 9px #b30221;
}

.rps-buttons:active {
    background-color: #EF233C;
    box-shadow: 0 5px #b30221;
    transform: translateY(4px);
    transition: 0.3s;
}

.game-selection-buttons {
    margin-bottom: 32px;
}


.game-selection, .game-mode {
    background-color: #000000;
    text-transform: uppercase;
    border: solid 2px #2B2D42;
}

.game-selection {
    font-size: 11px;
    height: 30px;
    width: 108px;
    box-shadow: 0 9px #000000;
}

.game-selection:active {
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}

.game-mode {
    font-size: 24px;
    height: 80px;
    width: 300px;
}

.game-selection:hover, .game-mode:hover {
    background-color: #2B2D42;
}

.dark-red {
    color: #D90429;
}

.dark-blue {
    color: #2B2D42;
}

.message-area {
    text-align: center;
}

.message-img {
    width: 32px;
}

#message {
    color: #2B2D42;
    display: inline-block;
    padding: 4px 8px;
    margin: 0;
}

.game-area {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 24px;
}

.frame {
    border: solid #2B2D42 4px;
    border-radius: 16px;
    width: 320px;
    height: 320px;
}

.computer-frame, .player-frame {
    transition: 0.1s;
}

.frame-highlight {
    background-color: royalblue;
    transition: 0.1s;
}

.frame-glow {
    box-shadow: 0px 0px 30px 5px #2B2D42;
}

#computer div, #player div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 50px 0px 30px 0px;
}

.icon {
    filter: invert(30%) sepia(0%) saturate(1863%) hue-rotate(154deg) brightness(92%) contrast(85%);
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 20px 0px;
}

footer p {
    font-family: "Inter", "Arial", sans-serif;
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
}

.credits {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    opacity: 0%;
    transition: opacity 0.1s ease-in;
}

.credits-content {
    margin: auto;
    width: 800px;
    padding: 30px 30px 60px;
    background-color: #EDF2F4;
    border-radius: 16px;
}

.credits-content > div:first-child {
    text-align: right;
}

.popup-game-selection {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    opacity: 0%;
    transition: opacity 0.1s ease-in;
}

.toggle-visibility-property {
    visibility: hidden;
}

.popup-game-selection-content {
    margin: auto;
    width: 800px;
    padding: 30px;
    background-color: #EDF2F4;
    border-radius: 16px;
}

#game-selection-description {
    opacity: 0;
    height: 12px;
    transition: opacity 0.1s ease-in;
}

.close {
    font-size: 28px;
}

.close:hover {
    cursor: default;
    color: #2B2D42;
    transition: 0.3s;
}

.popup-content-center {
    text-align: center;
}

.popup-game-selection-content > div:first-child {
    text-align: right;
}

.popup-game-selection-content > div:nth-child(2) > div {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin: 30px 0px;
    padding: 20px 0px;
}

.warning-headline {
    color: #D90429;
}

.game-over {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    opacity: 0%;
    transition: opacity 0.1s ease-in;
}

.game-over-content {
    margin: auto;
    width: 800px;
    padding: 30px 30px 50px 30px;
    background-color: #EDF2F4;
    border-radius: 16px;
}

.game-over-content .popup-center-content div {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin: 30px 0px;
    padding: 20px 0px;
}

.game-over-message {
    margin-bottom: 40px;
}

#current-game-mode {
    font-weight: 800;
}